body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

* {
  /* --color1: #EFF5F5;
  --color2: #D6E4E5;
  --color3: #497174;
  --color4: #FF725E;
  --color5: #EB6440; */
  --workLabel: black;
  --financialLabel: green;
  --schoolLabel: plum;
  --personalLabel: rgb(85, 85, 251);
  --homeLabel: brown;
  --leisureLabel: salmon;
  font-family: 'Anybody', cursive;
  font-family: 'Assistant', sans-serif;
  font-family: 'Epilogue', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Rubik', sans-serif;
  font-family: 'Sora', sans-serif;
}

.App[data-theme="light"] {
  --color1: #EFF5F5;
  --color2: #D6E4E5;
  --color3: #497174;
  --color4: #FF725E;
  --color5: #EB6440;
  --color6: white
}

.App[data-theme='dark'] {
  --color1: #2E2E2E;
  --color2: #4D4D4D;
  --color3: #BDBDBD;
  --color4: #FF725E;
  --color5: #EB6440;
  /* --color6: #f1f1f1; */
  --color6:#c1c5c5 ;
}

h1,h2,h3,h4,h5,h6{
  color: var(--color3);
}

button{
  color: var(--color6);
}